/* Most browsers don't have it for some reason */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

#blog-logo {
  max-height: 300px;
  max-width: 90vw;
}

:root {
  --cover-text-color: var(--section-light-bg-color);
  --highlight: #056d3c;
  --sticky-menu-text-color: #056d3c;

  --section-dark-bg-color: #951439;
}
