/* Most browsers don't have it for some reason */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

#blog-logo {
  max-height: 300px;
  margin-bottom: 15px;
  max-width: 90vw;
}

:root {
  --cover-text-color: var(--section-light-bg-color);
  --highlight: #056d3c;
  --sticky-menu-text-color: #056d3c;

  --section-dark-bg-color: #951439;
}

.btn-link {
  display: inline-block;
  font-weight: 500;
  padding: 0.5em 1em;
  background-color: var(--section-dark-bg-color);
  color: var(--section-light-bg-color);
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

#aktualności {
  max-width: 1000px;
}

div.dark .btn-link {
  background-color: var(--section-light-bg-color);
  color: var(--section-dark-bg-color);
}

div.dark .btn-link:hover {
  background-color: #e3dcd1;
  color: var(--section-dark-bg-color);
}

.btn-link:hover {
  background-color: #76132f;
  color: var(--section-light-bg-color);
}

.btn-link:hover .fa-arrow-right {
  transform: translateX(5px);
}

.profile-card {
  padding: 20px;
  text-align: center;
  width: 400px;
}

.profile-card img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 15px;
}


#zarząd .post-content {
  width: 900px;
  max-width: 80vw;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#zarząd {
  max-width: fit-content !important;
}

#zarząd .post-content > p {
  display: none;
}
