.posts-list {
  width: auto;
  max-width: 80vw;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.title {
  padding-top: 0.5em;
  position: relative;
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}

.post-mini {
  flex-shrink: 1;
  height: 394px;
  position: relative;
  border: 2px solid;
  width: 400px;
  margin: 20px auto;
  margin-bottom: 10px;
  border-radius: 15px;
  overflow: hidden;
  padding: 20px;
}

.post-mini p {
  font-size: 16px;
}

.post-mini img {
  display: inline;
  object-fit: cover;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px);
  max-width: none;
}

.post-mini p {
  max-height: 100px;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  overflow: hidden;
}

.post-mini a {
  font-size: 16px;
}

.post-mini .date {
  margin-top: 0px;
  color: grey;
}
