{{ define "main" }}
{{ $sections := .Pages }}
{{ $sections := cond .Site.BuildDrafts $sections (where $sections "Draft" "==" false) }}
{{ $content := where $sections "Params.external" "==" nil }}

<!-- Welcome screen that scrolls out of view -->
<header>
</header>
<main class="content" role="main">
    <!-- Render sticky left navigation menu -->
    <div class='fixed-nav'>
        {{ if eq .Params.nav_to_top_weight "first" }}
            {{ $fnav_title := "Start" }}{{ with .Params.nav_to_top_title }}{{ $fnav_title = . }}{{ end }}
            <a class='fn-item' item_index='{{ 0 }}' href='./#site-head'>{{ $fnav_title | safeHTML }}</a>
        {{ end }}
        {{ $last_index_val := 0 }}
        {{ range $index_val, $elem_val := $content }}
            {{ $fnav_title := .Title }}{{ with .Params.navigation_menu_title }}{{ $fnav_title = . }}{{ end }}
            <a class='fn-item' item_index='{{ (add $index_val 1) }}' href='#{{ anchorize $fnav_title }}'>{{ $fnav_title | safeHTML }}</a>
            {{ $last_index_val = $index_val }}
        {{ end }}
        {{ if eq .Params.nav_to_top_weight "last" }}
            {{ $fnav_title := "Start" }}{{ with .Params.nav_to_top_title }}{{ $fnav_title = . }}{{ end }}
            <a class='fn-item' item_index='{{ (add $last_index_val 2) }}' href='./#site-head'>{{ $fnav_title | safeHTML }}</a>
        {{ end }}
    </div>

    <!-- Render single-page content -->
    {{ range $index_val, $elem_val := $content }}
        {{ if .Title }}
        {{ $fnav_title := .Title }}{{ with .Params.navigation_menu_title }}{{ $fnav_title = . }}{{ end }}
        <div class='post-holder{{ if and (ne .Site.Params.invertSectionColors true) (not (modBool $index_val 2)) }} dark{{ else if and (eq .Site.Params.invertSectionColors true) (modBool $index_val 2) }} dark{{ end }}'>
            <article id='{{ anchorize $fnav_title }}' class='post {{ if eq $index_val 0 }}first{{ end }} {{ if eq (add $index_val 1) (len $content) }}last{{ end }}'>
                <header class="post-header">
                    <h2 class="post-title">{{ .Title | emojify | safeHTML }}</h2>
                </header>
                <section class="post-content">
                    {{ .Content }}
                </section>
            </article>
            <div class='post-after{{ if and (ne .Site.Params.invertSectionColors true) (modBool $index_val 2) }} light{{ else if and (eq .Site.Params.invertSectionColors true) (not (modBool $index_val 2)) }} light{{ end }}'></div>
        </div>
        {{ end }}
    {{ end }}
</main>
{{ end }}
